{{ define "main" }}
<div class="page-content">
  <div class="grid-layout">
    <div class="link-box with-shadow">
        <ul>
            <li>
                <a href="https://bsky.app/profile/mona.cool">blsky</a>
            </li>
            <li>
                <a href="https://soundcloud.com/coolcat-mona">soundcloud</a>
            </li>
        </ul>
    </div>
      <div class="left-box with-shadow">
          <p id="left-box-title"><a href=/gallery/>gallery.</a></p>
          <div class="color-1"></div>
          <div class="color-2"></div>
          <div class="color-3"></div>
      </div>
      <div class="center-grid">
          <p class="header">The coolest site on the internet</p>
          <div class="center-box with-shadow">
              <img src="img/wire.svg" alt="Hand holding a domino mask"
                  title="do NOT talk to me about polygons">
              <p class="bottom-text">I wear my mask, just like the
                  rest of you</p>
          </div>
      </div>
      <div class="right-box with-shadow">
          <p id="right-box-text">Easily influenced
              <!-- <br><a href=/blog/>under construction...</a> -->
          </p>
      </div>
  </div>
</div>

<div class="background">
  <canvas id="backgroundCanvas"></canvas>
</div>

<script src="/js/script.js"></script>

{{ end }}